<div class="content">
    <form action="#">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Add New Company</h5>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i> Basic details</legend>

                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" placeholder="Your company name">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address Line 1:</label>
                                        <input type="text" class="form-control" placeholder="Address line 1" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address Line 2:</label>
                                        <input type="text" class="form-control" placeholder="Address line 2">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City:</label>
                                        <input type="text" class="form-control" placeholder="Your city name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>State:</label>
                                        <select data-placeholder="Select your state" class="select">
                                            <option></option>
                                            <optgroup label="North India">
                                                <option value="DL">Delhi</option>
                                                <option value="UP">Uttar Pradesh</option>
                                            </optgroup>
                                            <optgroup label="Southe India">
                                                <option value="TN">Tamilnadu</option>
                                                <option value="KR">Kerala</option>
                                                <option value="AP">Andhra Pradesh</option>
                                            </optgroup>
                                            <optgroup label="East India">
                                                <option value="KL">Kolkata</option>
                                                <option value="JH">Jharkhand</option>
                                                <option value="BR">Bihar</option>
                                            </optgroup>
                                            <optgroup label="West India">
                                                <option value="GJ">Gujrat</option>
                                                <option value="MH">Maharashtra</option>
                                                <option value="RJ">Rajasthan</option>
                                            </optgroup>
                                            <optgroup label="Central India">
                                                <option value="MP">Madhya Pradesh</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country:</label>
                                        <select data-placeholder="Select your country" class="select">
                                            <option></option>
                                            <option value="IN">India</option>
                                            <option value="US">USA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>About:</label>
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter about your company"></textarea>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-truck position-left"></i> Other details</legend>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Website:</label>
                                        <input type="text" placeholder="Your company website" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PAN:</label>
                                        <input type="text" placeholder="Your company PAN" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" placeholder="email@company.com" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Telephone #:</label>
                                        <input type="text" placeholder="###-######" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Logo:</label>
                                        <input type="file" class="file-styled">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Additional message:</label>
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Reset<i class="icon-cancel-square position-right"></i></button>
                    <button type="submit" class="btn btn-primary">Save<i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/js/common/functions.js"></script>
