<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul id="side-menu" class="nav metismenu" side-navigation>
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <img class="img-circle" src="~/Content/img/profile.png" alt="image" />
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">John Doe</strong>
                            </span>
                            <span class="text-muted text-xs block">
                                Developer <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>

                <div class="logo-element">
                    RM+
                </div>
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_1">Dashboard v.1</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_2">Dashboard v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">Dashboard v.3</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="layouts"><i class="fa fa-diamond"></i> <span class="nav-label">Layout</span> </a>
            </li>
        </ul>
    </div>
</nav>
